<div class="cp-consultation padding-tb-60">
  <div class="container">
    <div class="cp-heading-1">
      <h2>Simple Divorce Without Children, Debts, or Property</h2>
    </div>
    <%= render 'form' %>
    <%= link_to 'Back', no_children_no_debts_path, class: "btn-style-1" %>
  </div>
</div>
