<h1 style="tab-stops:center 3.25in"><font color="#FFFFFF"><b>Simple
  divorce without children, debts or property - <a href="index.html"><font color="ffffff">Home</font></a></b></font></h1>
<hr>
<div align="center">
  <center>
  <table width="80%" border="0" cellspacing="0">
    <tbody><tr>
      <td>
        <p class="MsoNormal" style="text-indent:.5in"><span style="font-size:12.0pt"><font color="#FFFFFF">Many
        times couples who have been married for a short time, who have been
        separated for a long time, or for whatever other reasons have no minor
        children, own no property together or have joint debts like credit cards
        or other loans.<span style="mso-spacerun: yes">&nbsp; </span>This is by
        far the easiest, cheapest and least time consuming situation in which a
        divorce can be accomplished. <o:p>
        </o:p>
        </font>
        </span></p>
        <p class="MsoNormal" style="text-indent:.5in"><span style="font-size:12.0pt"><font color="#FFFFFF">Couples
        can be divorced in approximately 30 days assuming all parties sign the
        documents drafted for them and return them to my office promptly.<span style="mso-spacerun: yes">&nbsp;
        </span>The courts will not look at a Divorce file until at least (20)
        twenty days have past since it is filed with the clerk of courts. There
        are no hearings for you to attend.<span style="mso-spacerun: yes">&nbsp;
        </span>All the paperwork needed will be drafted and sent to you for
        signing.<span style="mso-spacerun: yes">&nbsp; </span>My office takes
        care of the rest until the divorce is finalized.&nbsp;</font></span></p>
        <p class="MsoNormal" style="text-indent:.5in"><font color="#FFFFFF">If you have any remaining chance to save your marriage, I
        encourage you to exit this website and make every effort.<span style="mso-spacerun: yes">&nbsp;
        </span>If you are confident you have done so and are solid in your
        decision to proceed I will be happy to help.</font></p>
        <p class="MsoNormal" style="text-indent:.5in"><span style="font-size:12.0pt"><font color="#FFFFFF">&nbsp;<o:p>
        </o:p>
        </font>
        </span></p>
        <p class="MsoNormal" align="center"><b><font color="#FFFFFF"><u><font size="5">FEES AND COSTS</font></u><span style="font-size:12.0pt">&nbsp;<o:p>
        </o:p>
        </span></font></b><br>
        <br>
        <span class="style1">You may pay the filing fee by check or online.  To pay by check the fee is $421 and you can mail that check back with your signed documents. To pay online using the secure server the fee is $432 because of the credit card fees I get charged.</span></p>
        <p class="MsoNormal"><b><span style="font-size:12.0pt"><font color="#FFFFFF">ATTORNEYS FEES:<span style="mso-spacerun: yes">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>$200.00<o:p>
        </o:p>
        </font>
        </span></b></p>
        <p class="MsoNormal"><b><span style="font-size:12.0pt"><font color="#FFFFFF">&nbsp;<o:p>
        </o:p>
        </font>
        </span></b></p>
          <p class="MsoNormal"><font color="#FFFFFF"><b><span style="font-size:12.0pt">CLERK
            OF COURTS FILING FEE:<span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>$421.00</span></b><span style="font-size:12.0pt">
            <o:p> </o:p>
            </span></font></p>
        <p class="MsoNormal"><span style="font-size:12.0pt"><font color="#FFFFFF">&nbsp;<o:p>
        </o:p>
        </font>
        </span></p>
        <p class="MsoNormal"><span style="font-size:12.0pt"><font color="#FFFFFF">If all paperwork is
        signed as drafted by both parties and returned to my office, this is the
        total cost of your divorce.<span style="mso-spacerun: yes">&nbsp; </span>There
        are no hidden costs or fees.<span style="mso-spacerun: yes">&nbsp; </span>The
        only time there would be additional fees is if both parties decide they
        want changes made to the documents.<span style="mso-spacerun: yes">&nbsp;
        </span>If changes are requested, there will be a $75.00 re-draft fee to
        make the change. Obviously if the change is necessary due to a drafting
        error on my part, there would be no charge.&nbsp;
        <o:p>
        </o:p>
        </font>
        </span></p>
        <span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA"><font color="#FFFFFF">There are only a few simple questions that need to be
        answered to get started.</font></span>
        <p>&nbsp;</p></td>
    </tr>
  </tbody></table>
  </center>
</div>
<hr>
<p>
<b><font size="4" color="#FFFFFF">Filling out all information as accurately as possible will
assist in processing your case and keep your costs down. Any question that does
not apply to your situation please put "N/A" in the blank.</font></b></p>
<form method="POST" action="/cgi-bin/fmail.pl">
<input type="hidden" name="recipient" value="forms@floridasimpledivorce.com">
<input type="hidden" name="subject" value="No Children No Debts or Property Involved Client Info">
<input type="hidden" name="redirect" value="http://www.floridasimpledivorce.com/no_kids_no_debts.htm">
<input type="hidden" name="required" value="email">
<ol>
<li>
<p>
<b>
<font color="#FFFFFF">
Clients Contact Information</font></b></p>
<table>
<tbody><tr>
<td align="right">
<b><font color="#FFFFFF">Name</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Client Contact_FullName" size="35" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">Street Address</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Client Contact_StreetAddress" size="35">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">Address (cont.)</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Client Contact_Address2" size="35">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">City</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Client Contact_City" size="35">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">State</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Client Contact_State" size="35">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">Zip/Postal Code</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Client Contact_ZipCode" size="12" maxlength="12">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">Work Phone</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Client Contact_WorkPhone" size="25" maxlength="25">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">Home Phone</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Client Contact_HomePhone" size="25" maxlength="25">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">FAX</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Client Contact_FAX" size="25" maxlength="25">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">E-mail Address</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="email" size="25">
</font>
</td>
</tr>
</tbody></table>
<font color="#FFFFFF">
<br>
<br>
</font>
</li><li>
<p>
<b>
<font color="#FFFFFF">
Spouses Contact Information</font></b></p>
<table>
<tbody><tr>
<td align="right">
<b><font color="#FFFFFF">Name</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Spouse Contact_FullName" size="35">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">Street Address</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Spouse Contact_StreetAddress" size="35">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">Address (cont.)</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Spouse Contact_Address2" size="35">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">City</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Spouse Contact_City" size="35">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">State</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Spouse Contact_State" size="35">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">Zip/Postal Code</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Spouse Contact_ZipCode" size="12" maxlength="12">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">Work Phone</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Spouse Contact_WorkPhone" size="25" maxlength="25">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">Home Phone</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Spouse Contact_HomePhone" size="25" maxlength="25">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">FAX</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Spouse Contact_FAX" size="25" maxlength="25">
</font>
</td>
</tr>
<tr>
<td align="right">
<b><font color="#FFFFFF">E-mail Address</font></b></td>
<td>
<font color="#FFFFFF">
<input type="TEXT" name="Spouse Contact_Email" size="25">
</font>
</td>
</tr>
</tbody></table>
<font color="#FFFFFF">
<br>
<br>
</font>
</li><li>
<p>
<b>
<font color="#FFFFFF">
Date of Marriage</font></b></p>
<p>
<font color="#FFFFFF">
<input type="TEXT" name="Date of Marriage" size="8" maxlength="8">
<em> -- mm/dd/yy</em><br>
</font>
</p>
<font color="#FFFFFF">
<br>
<br>
</font>
</li><li>
<p>
<b>
<font color="#FFFFFF">
Enter City and State of Marriage</font></b></p>
<p>
<font color="#FFFFFF">
<input type="TEXT" name="City &amp; State of Marriage" size="35">
<br>
</font>
</p>
<font color="#FFFFFF">
<br>
<br>
</font>
</li><li>
<p>
<b>
<font color="#FFFFFF">
Enter Date last lived together</font></b></p>
<p>
<font color="#FFFFFF">
<input type="TEXT" name="Date Last Lived Together" size="8" maxlength="8">
<em> -- mm/dd/yy</em><br>
</font>
</p>
<font color="#FFFFFF">
<br>
<br>
</font>
</li><li>
<p>
<b>
<font color="#FFFFFF">
Have you lived in the state of Florida for at least six months prior to filling out this form?</font></b></p>
<p>
<font color="#FFFFFF">
<input type="RADIO" name="Lived 6mos in FL before this " value="Yes" checked="">
 Yes <input type="RADIO" name="Lived 6mos in FL before this " value="No">
No<br>
</font>
</p>
<font color="#FFFFFF">
<br>
<br>
</font>
</li><li>
<p>
<b>
<font color="#FFFFFF">
Are both parties over the age of 18?</font></b></p>
<p>
<font color="#FFFFFF">
<input type="RADIO" name="both parties over 18 " value="Yes" checked="">
 Yes <input type="RADIO" name="both parties over 18 " value="No">
No<br>
</font>
</p>
<font color="#FFFFFF">
<br>
<br>
</font>
</li><li>
<p>
<b>
<font color="#FFFFFF">
Is either party currently on active duty in the military?</font></b></p>
<p>
<font color="#FFFFFF">
<input type="RADIO" name="Either party in Military" value="Yes" checked="">
 Yes <input type="RADIO" name="Either party in Military" value="No">
No<br><br>If Yes Which Party: <br>
<br>
<input type="TEXT" name="Which party in military" size="35">
</font>
</p>
<font color="#FFFFFF">
<br>
<br>
</font>
</li><li>
<p>
<b>
<font color="#FFFFFF">
List any special concerns or questions you may have below. Someone will contact you to discuss the answer. Please provide your E-mail address or phone number where you can be reached.</font></b></p>
<p>
<font color="#FFFFFF">
<textarea name="special concerns or questions" rows="5" cols="35"></textarea>
<br>
</font>
</p>
</li><li>
<p>
<b>
<font color="#FFFFFF">
Please enter wife's Maiden name if she wishes to have it restored.</font></b></p>
<p>
<font color="#FFFFFF">
<input type="TEXT" name="wife's maiden name" size="35">
<br>
<br>
<br>
</font>
</p>
</li><li>
<p>
<b>
<font color="#FFFFFF">
Which County in Florida does the Husband reside?</font></b></p>
<p>
<font color="#FFFFFF">
<input type="TEXT" name="county in florida where husband resides" size="35">
<br>
<br>
<b>Which County in Florida does the Wife reside?</b></font></p>
<p> <font color="#FFFFFF">
  <input type="TEXT" name="county in florida where wife resides" size="35">
</font></p>
<p><font color="#FFFFFF">  <br>
  </font>
</p>

<p>
<b><span style="font-family: Times New Roman; mso-fareast-font-family: Times New Roman; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA"><font value="Florida Simple Divorce Information Received Confirmation" type="hidden" name="autoresponse-subject" face="Arial,Helvetica<input" color="#FFFF00" size="4">To proceed please
click the Submit Information button
below and you will be provided with further instructions.</font></span></b>
</p>

</li></ol>
